$bgColor : #191A19;
$menuColor : #1E5128;
$font : garamond;
$bigFont : 3.5em;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: $bgColor;
    overflow-x: hidden;
    .header {
        position: relative;
        display: flex;
        justify-content: center;
        top: 0;
        width: 100%;
        // height: 3.6em;
        z-index: 22;
        // font-size: 20px;
        color: #fff;
        // background-color: red;
        // overflow-x: hidden;
        .wrapper {
            // overflow-x: hidden;
            position: relative;
            // height: 100%;
            width: 90%;
            // height: 3.6em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 0.2s ease-in-out;
            // background-color: yellow;
            .logo { text-transform: uppercase; font-weight: bold;}
            .menu {
                // display: flex;
                // align-items: center;
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    margin: 5px 0;
                    li {
                        // background-color: green;
                        // display: flex;
                        list-style: none;
                        a {
                            // background-color: red;
                            font-family: $font;
                            text-decoration: none;
                            // text-transform: uppercase;
                            color: #fff;
                            h2 { padding: 10px 15px; }
                        }
                        &:hover {
                            background-color: $menuColor;
                            border-radius: 5px;  
                        }
                    }
                    hr { display: none; }
                }
                
                .menu-toggle {
                    display: none;
                    .material-icons {
                        // font-size: 40px;
                        // padding: 10px 15px;
                        transition: all 0.5s ease-in-out;
                        &:hover { border-radius: 5px; }    
                    }
                }
            }
        }
    }
    .wrapperSticky {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        animation: smoothScroll 1s forwards;
    }
    @keyframes smoothScroll {
        0% { transform: translateY(-40px);}
        100% { transform: translateY(0px); }
    }
    
    .images {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 80vh;
        overflow: hidden;
        // margin-top: 2.3em;
        .wrapper {
            background-color: lime;
            width: 100%;
            justify-content: center;
            align-items: center;
            background-color: green;
            z-index: 20;
            height: auto;
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, $bgColor, transparent);
                // background: rgba(blue, 0.5);
                z-index: 5;
            }
            img {
                display: flex;
                position: absolute;
                height: 100%;
                overflow-y: hidden;

            }
            .hutan-kanan {
                z-index: 2;
                width: 105%;
                right: 0;
                bottom: 0;
            }
            .hutan-kiri {
                z-index: 2;
                left: 0;
                width: 105%;
                bottom: 0;
            }
            .bg-Images {
                z-index: 1;
                width: 100%;
                bottom: 0;
            }
            .object {
                z-index: 3;
                width: 100%;
                bottom: 0;
            }

            .desc {
                position: absolute;
                z-index: 5;
                top: 50%;
                right: 0;
                width: 45%;
                height: 100vh;
                font-size: 20px;
                .wrap-desc {
                    position: relative;
                    width: 88.7%;
                    h2 { color: #fff; }
                    letter-spacing: 2px;
                }
            }
        }
    }

    .aboutMe {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 14.5em;
        overflow-x: hidden;
        .wrapper {
            width: 70%;
            display: grid;
            grid-template-areas: 
            'about skills';
            gap: 4em;
            color: white;
            .body-desc {
                grid-area: about;
                .title {
                    font-size: $bigFont;
                    font-weight: bold;
                    letter-spacing: 3px;
                    border-bottom: 5px solid white;
                    width: 5.9em;
                }
                .body {
                    padding: 1.5em 0;
                    text-align: justify;
                }
                button {
                    // font-size: 15px;
                    font-weight: bold;
                    padding: 12px;
                    border: 1px solid white;
                    background-color: $bgColor;
                    color: white;
                    cursor: pointer;
                    position: relative;
                    animation: btnDownload 1.5s infinite;
                }
                @keyframes btnDownload {
                    0%  {transform: translateY(0px);}
                    50%  {transform: translateY(-10px);}
                    100%  {transform: translateY(0px);}
                }
            }
            .skills {
                grid-area: skills;
                h2 {
                    letter-spacing: 3px;
                    border-bottom: 5px solid white;
                    width: 11.9em;
                }
                ul {
                    margin-top: 10px;
                    li {
                        list-style: none;
                        padding: 1px 0;
                    }
                }
            }
        }
    }

    .project {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 8em;
        .wrapper {
            width: 70%;
            .title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: $bigFont;
                color: white;
                // letter-spacing: 3px;
                text-align: center;
            }
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 20px 0 25px 0;
                gap: 25px;
                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: white;
                    cursor: pointer;
                    // font-size: 15px;
                }
            }
            .card-wrapper {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                overflow-x: hidden;
                gap: 15px;
                row-gap: 30px;
                .card {
                    color: white;
                    cursor: pointer;
                    position: relative;
                    img {
                        width: 13em;
                        height: 9em;
                        transition: 0.2s ease-in-out;
                        position: relative;
                        &:hover { transform: translateY(-19%); }
                    }
                    #jaki { object-fit: cover; }
                    .desc {
                        padding: 8px 5px; 
                        position: absolute;
                        bottom: 0;
                        background-color: black;
                        width: 100%;
                        z-index: -1;
                        // font-size: 12px;
                    }
                }
                .hide {
                    display: none;
                }
            }
        }
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 50;
        padding-top: 150px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        .modal-content {
            margin: auto;
            display: block;
            
            width: 80%;
            max-width: 700px;
        }
        .caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }
        // animasi
        .modal-content, .caption {
            animation: 0.6s zoom;
        }
        @keyframes zoom {
            from { transform: scale(0); }
            to { transform: scale(1); }
        }
        .btnClose {
            position: absolute;
            top: 35px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
            &:hover, &:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    
    .education {
        width: 100%;
        background-color: $bgColor;
        display: flex;
        justify-content: center;
        padding: 7em 0;
        overflow-x: hidden;
        .wrapper {
            width: 70%;
            .title {
                color: white;
                text-transform: uppercase;
                font-weight: bold;
                font-size: $bigFont;
                text-align: center;
                margin-bottom: 1em;
            }
            .timeline {
                color: white;
                display: flex;
                justify-content: center;
                padding-bottom: 50px;
                ul {
                    li {
                        background-color: white;
                        list-style-type: none;
                        position: relative;
                        width: 6px;
                        margin: 0 auto;
                        padding-top: 50px;
                        &:after {
                            content: '';
                            background-color: white;
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            transform: translateX(-50%);
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                        }
                        div {
                            border: 1px solid white;
                            bottom: 0;
                            width: 400px;
                            padding: 15px;
                            &:before {
                                content: '';
                                position: absolute;
                                bottom: 7px;
                                width: 0;
                                height: 0;
                                border-style: solid;
                            }
                            // time {
                            // //     // font-weight: bold;
                            // //     // font-size: 22px;
                            // }
                        }

                        // element ganjil
                        &:nth-child(odd) div {
                            margin-left: 40px;
                        }
                        &:nth-child(odd) div:before {
                            margin-left: 40px;
                            left: -15px;
                            border-width: 8px 16px 8px 0;
                            border-color: transparent white transparent transparent;
                        }
                        
                        // element genap 
                        &:nth-child(even) div {
                            transform: translateX(-100%);
                            // left: 0;
                            text-align: right;
                            margin-left: -35px;
                        }
                        
                        &:nth-child(even) div:before {
                            transform: translateX(100%);
                            right: 0;
                            border-width: 8px 0 8px 16px;
                            border-color: transparent transparent transparent white;
                        }
                    }
                }
            }
            .card-body {
                width: auto;
                height: 70vh;
                background-color: blue;
                color: white;
                display: grid;
                grid-template-columns: 40px 3fr;
                padding-left: 10em;
            }
        }
    }

    .contact {
        background-image: url(img/bgFooter.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        padding-top: 2em;
        .wrapper {
            width: 70%;
            color: white;
            position: relative;
            h1, h4 {
                text-align: right;
            }
            h1 {
                padding-bottom: 15px;
            }
            h4 {
                padding: 5px 0;
                font-weight: none;
                a { color: white;
                    &:hover {
                        color: blue;
                    }
                }
            }
            ul {
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                // background-color: red;
                // margin-top: 2em;
                bottom: 25px;
                width: 100%;
                // height: 6em;
                // align-items: flex-start;
                li {
                    list-style: none;
                    padding: 5px 20px;
                    a {
                        color: black;
                    }
                }
            }
        }
    }

    // .dummy {
    //     height: 30vh;
    //     background-color: #c0c0c0;
    // }
    
    // responsive
    // breakpoiint 1024px
    @media screen and (max-width: 1024px) {
        .header {
            .wrapper {
                .menu {
                    // revisi disini sidebar menu
                    ul {
                        background-color: $bgColor;
                        z-index: -1;
                        position: absolute;
                        right: -6%;
                        top: 0;
                        width: 60%;
                        height: 100vh;
                        padding: 0;
                        margin: 0;
                        flex-direction: column;
                        justify-content: center;
                        // padding: 5em 1em 0 0;
                        align-items: center;
                        transform: translateX(100%);
                        transition: all 0.4s ease-in-out;
                        opacity: 0;
                        // text-align: right;
                        hr {
                            display: flex;
                            // width: 50%;
                            border: 1px solid $menuColor;
                        }
                        li {
                            &:nth-child(1) { 
                                background-color: $menuColor;
                                border-radius: 5px;
                            }    
                        }
                    }
                    
                    // hidden side manu
                    .active {
                        opacity: 1;
                        transform: translateX(0);
                    }
                                        
                    .menu-toggle {
                        display: flex;
                        cursor: pointer;
                        .material-icons {
                            transition: all 0.2s ease-in-out;
                            &:hover {
                                border-radius: 5px;
                                color: $menuColor;
                            }
                        }
                    }
                }
            }
        }
        .images {
            z-index: -2;
            .wrapper {
                .desc {
                    font-size: 16px;
                }
            }
        }
        .aboutMe {
            .wrapper {
                width: 80%;
                gap: 3em;
                .body-desc {
                    .title {
                        font-size: 40px;
                        width: 6em;
                    }
                    .body { padding: 1.4em 0; }
                    button {
                        font-size: 13px;
                        padding: 12px;
                    }    
                }
                .skills {
                    h2 {
                        font-size: 22px;
                        width: 7.5em;
                    }
                    ul {
                        margin-top: 10px;
                        li { padding: 1px 0; }
                    }
                }    
            }
        }
        .project {
            .wrapper {
                width: 80%;
                .title {
                    font-size: 40px;
                }
            }
        }
        .modal > .modal-content {
            width: 100%;
        }
        .education {
            .wrapper {
                width: 80%;
                .title {
                    font-size: 40px;
                }
                .timeline {
                    ul {
                        li {
                            width: 4px;
                            padding-top: 20px;
                            &:after {
                                width: 25px;
                                height: 25px;
                            }
                            div {
                                width: 330px;
                                // padding: 10px;
                                // font-size: 18px;
                            }
                            
                            // element genap 
                            // &:nth-child(even) div {
                            //     transform: translateX(-369px);
                            //     text-align: right;
                            // }
                        }
                    }
                }
            }
        }
        .contact {
            .wrapper {
                width: 80%;
                ul {
                    li {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }

    // breakpoiint 768px
    @media screen and (max-width: 768px) {
        .header {
            .wrapper {
                // width: ;
                .logo { font-size: 15px; }
                .menu {
                    ul {
                        width: 80%;
                        li > a { font-size: 15px; }
                    }
                    .menu-toggle {
                        .material-icons { font-size: 30px; }    
                    }
                }
            }
        }
        .images {
            .wrapper {
                .desc { font-size: 10px; }
            }
        }
        .aboutMe {
            .wrapper {
                width: 95%;
                gap: 2em;
                .body-desc {
                    .title {
                        font-size: 35px;
                        width: 6.1em;
                    }
                    button { font-size: 11px; }    
                }
                .skills {
                    h2 {
                        font-size: 20px;
                        width: 7.5em;
                    }
                    ul {
                        margin-top: 10px;
                    }
                }    
            }
        }
        .project {
            .wrapper {
                width: 95%;
                .title {
                    font-size: 35px;
                }
                .card-wrapper {
                    gap: 15px;
                    row-gap: 30px;
                    .card {
                        img {
                            width: 10em;
                            height: 7em;
                        }
                    }
                }    
            }
        }
        .modal {
            .modal.content { width: 100%; }
        }
        .education {
            .wrapper {
                width: 95%;
                .title {
                    // font-size: 15px;
                }
                .timeline {
                    ul {
                        li {
                            width: 2px;
                            &:after {
                                width: 20px;
                                height: 20px;
                            }
                            div {
                                width: 250px;
                                // padding: 5px;
                                // font-size: 16px;
                                time { font-size: 16PX; }
                                h4 { font-size: 12px; }
                            }
                            
                            // element genap 
                            // &:nth-child(even) div {
                            //     transform: translateX(-274px);
                            //     text-align: right;
                            // }
                        }
                    }
                }
            }
        }
        .contact {
            .wrapper {
                width: 95%;
                h1 {
                    font-size: 22px;
                }
                ul {
                    li {
                        h3 {
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 586px) {
        .header {
            .wrapper {
                // width: ;
                // .logo { font-size: 15px; }
                .menu {
                    ul {
                        width: 112%;
                        // li > a { font-size: 15px; }
                    }
                    // .menu-toggle {
                    //     .material-icons { font-size: 30px; }    
                    // }
                }
            }
        }
        .aboutMe {
            .wrapper {
                width: 95%;
                gap: 2em;
                grid-template-areas: 
                'about about'
                'skills skills'
                ;
                .body-desc {
                    .title {
                        font-size: 24px;
                        width: 6.4em;
                    }
                    button {
                        font-size: 11px; 
                    }  
                    text-align: center;
                }
                .skills {
                    text-align: center;
                    padding-top: 4em;                                    
                    h2 {
                        font-size: 20px;
                        width: 100%;
                        border: none;
                        font-size: 23px;
                    }
                    ul { margin-top: 20px; }
                }    
            }
        }
        .project {
            .wrapper {
                .title { font-size: 30px; }
                ul {
                    li {
                        font-size: 12px;
                        img { width: 15px; }
                    }
                }    
                .card-wrapper {
                    gap: 10px;
                    row-gap: 25px;
                }
            }
        }
        .education {
            .wrapper {
                .title { font-size: 30px; }
                .timeline {
                    ul {
                        li {
                            &:after {
                                width: 15px;
                                height: 15px;
                            }
                            div {
                                width: 120px;
                                padding: 5px;
                                // font-size: 10px;
                                time {
                                    // font-weight: bold;
                                    font-size: 16px;
                                    // padding: 0 10px;
                                }
                                h4 {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .contact {
            .wrapper {
                h1 { font-size: 18px; }
                h4 { font-size: 12px; }
                ul {
                    li {
                        h3 { font-size: 10px; }
                    }
                }
            }
        }
    }

    // breakpoiint 768px
    // breakpoiint 480px

} //  end body